<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Service Chat</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div id="app" class="chat-container">
        <div class="registration" v-if="!chatVisible">
            <input v-model="email" placeholder="Enter your email" />
            <input v-model="username" placeholder="Enter your username" />
            <button @click="startChat" class="get-in-touch-button">Start a Conversation</button>
        </div>
        <div class="chat-window" v-if="chatVisible">
            <div class="chat-header">
                <h2>Customer Service Support</h2>
            </div>
            <div class="messages" ref="messages">
                <div v-for="(message, index) in messages" :key="index"
                    :class="{'customer-message': message.userId === 'customer', 'support-message':  message.userId !== 'customer'}">
                    <div class="message">
                        <div class="username-container" v-if="message.userId === 'customer'">
                            <img src="support.jpeg" alt="Profile Photo" class="profile-photo" />
                            <span style="font-weight: bold;">{{ message.username }}</span>
                        </div>
                        <div v-else>
                            <span style="font-weight: bold;">{{ message.username }}</span>
                            <img src="profile.jpg" alt="Profile Photo" class="profile-photo" />
                        </div>

                        <div v-if="message.type === 'text'"> {{ message.content }}</div>
                        <img v-if="message.type === 'image'" :src="message.content" alt="Image"
                            class="uploaded-image" />
                        <a v-if="message.type === 'file'" :href="message.content" target="_blank"
                            :download="message.filename">{{
                            message.filename }}</a>
                        <div class="timestamp">{{ message.timestamp }}</div>
                    </div>

                </div>
            </div>
            <div class="input-container">
                <div class="upload-buttons">
                    <label class="file-input-label">
                        <i class="fas fa-smile smile-icon" @click="toggleSmileys"></i>
                        <div v-if="showSmileys" class="smiley-picker">
                            <span @click="addSmiley('😊')">😊</span>
                            <span @click="addSmiley('😂')">😂</span>
                            <span @click="addSmiley('😍')">😍</span>
                            <span @click="addSmiley('😢')">😢</span>
                            <span @click="addSmiley('😡')">😡</span>
                        </div>
                    </label>
                    <label class="file-input-label">
                        <input type="file" @change="sendImage" accept="image/*" class="image-input" />
                        <i class="fas fa-image image-icon"></i>
                    </label>
                    <label class="file-input-label">
                        <input type="file" @change="sendFile" accept="*/*" class="file-input" style="display: none;" />
                        <i class="fas fa-paperclip file-icon"></i>
                    </label>
                    <label class="file-input-label">
                        <i class="fas fa-comments feedback-icon" @click="openFeedbackModal"></i>
                    </label>
                    <label class="file-input-label">
                        <i class="fas fa-sign-out-alt leave-chat-icon" @click="openLeaveChatModal"></i>
                    </label>

                </div>
                <div v-if="feedbackVisible" class="feedback-modal">
                    <div class="feedback-content">
                        <span class="close-button" @click="closeFeedbackModal">&times;</span>
                        <h3>Leave Your Feedback</h3>
                        <div class="star-rating">
                            <span v-for="star in stars" :key="star" @click="setRating(star)"
                                :class="{ 'active': star <= rating }"> <i class="fas fa-star"></i></span>
                        </div>
                        <textarea class="modal-textarea" v-model="feedbackText" placeholder="Your feedback here..."
                            rows="4"></textarea>
                        <button class="submit-button" @click="sendFeedback">Submit</button>

                    </div>
                </div>
                <div v-if="leaveChatVisible" class="confirmation-modal">
                    <div class="confirmation-content">
                        <span class="close-button" @click="closeLeaveChatModal">&times;</span>
                        <h3>Are you sure you want to leave?</h3>
                        <button class="submit-button" @click="leaveChat">Leave Chat</button>
                        <button class="cancel-button" @click="closeLeaveChatModal">Cancel</button>
                    </div>
                </div>
                <div class="input-send-container">
                    <input v-model="message" @keyup.enter="sendMessage" placeholder="Type your message here..."
                        class="message-input" ref="messageInput" />
                    <button @click="sendMessage" class="send-button">
                        <i class="fas fa-paper-plane"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- <audio id="message-sound" src="message.wav" preload="auto"></audio> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="app.js"></script>
</body>

</html>